#idF{
    width: 400px;
}
#titleF{
    width: 400px;
}
#ordersourcef{
    width: 400px;
}
#sharedsecretf{
    width: 400px;
}

#id_submitbutton
{
    width: 200px;
    max-width: 200px;
}
#id_cancel
{
    width: 200px;
    max-width: 200px;
}

